html, body, header, .content {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header, .content {
	overflow: hidden;
}

nav {
	padding: 20px 15%;
}

.brand {
	font-size: 40px;
	font-weight: bold;
	font-family: 'Cookie';
	float: left;
	margin-top: 15px;
}

nav ul {
	list-style-type: none;
	padding: 0;
	float: right;
}

nav ul li {
	float: left;
	padding: 10px 15px;
}

a, p, nav ul li {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
}

p {
	font-weight: lighter;
	line-height: 18px;
	text-align: justify;
}

h1 {
	font-family: 'Fredoka One';
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 28px;
}

header, .content {
	position: relative;
	color: #fff;
}

a {
	color: #fff;
	border: 1px solid #fff;
	text-decoration: none;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 50px;
	margin-top: 10px;
}

.left {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 36%;
	left: 8%;
}

.right {
	position: absolute;
	bottom: 40px;
	width: 50%;
	right: 0;
}

.right img {
	width: 95%;
	box-shadow: #000;
}

.brand i {
	margin-left: 8px;
}

.social-icons {
	position: absolute;
	top: 30%;
	left: 20px;
	width: 35px;
}

.social-icons ul li {
	margin-top: 10px;
}

.social-icons ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-icons ul li i {
	padding: 10px;
}

.background {
	position: absolute;
	height: 100%;
	width: 150%;
	top: 0;
	left: 0;
	background: linear-gradient(to right, #e91e63 0%, #e91e63 20%, #f44336 70%);
	transform: rotateZ(-10deg);
	transform-origin: bottom left;
	box-shadow: 0 0 10px #000;
}

.clear {
	clear: both;
}